@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

:root {
  --text-color: #ffffff;
  --background-color: #000000;
  --primary-color: #ff5722;
  --secondary-color: #03a9f4;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: "VT323", monospace;
}

input,
textarea,
button {
  font-family: "VT323", monospace;
  font-size: 1.1rem;
}

.interface {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sections {
  max-width: 1200px;
  width: 100%;
}
.section {
  height: 100vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
  /* overflow-x: hidden; */
  scrollbar-width: none;
}

.section::-webkit-scrollbar {
  display: none;
}
.section--top {
  align-items: flex-start;
}

.section--bottom {
  align-items: flex-end;
  min-height: 100vh;
  padding-top: 0px;
}

.section--right {
  justify-content: flex-end;
}

.section--left {
  justify-content: flex-start;
}

.section--left--contact {
  justify-content: flex-start;
  flex-direction: column;
}

/* HOME SECTION */
.home {
  padding: 3rem;
}

.home-text {
  font-size: 2rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5), -5px 0 0 0 white, 5px 0 0 0 white,
    0 -5px 0 0 white, 0 5px 0 0 white;
  margin: 8rem 0;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  max-width: 500px;
  transition: box-shadow 0.4s ease, background 0.4s ease, transform 0.2s ease;
}

.home-text:hover {
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.8), 0 0 -10px #ff00c8,
    0 0 -20px #ff00c8;
  color: yellow;
  background: rgba(255, 255, 255, 0.15);
  transform: scale(1.15);
}
/* Scroll Indicator*/

.scroll-down {
  width: 35px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  justify-content: center;
  border: 2px solid var(--text-color);
  border-radius: 14px;
  display: flex;
  margin-bottom: 0rem;
  box-shadow: 0 0 5px #ffff33, 0 0 10px #ffff33;
}

.scroll-down__wheel {
  background-color: var(--text-color);
  width: 3px;
  height: 10px;
  border-radius: 2px;
  margin-top: 4px;
  box-shadow: 0 0 8px yellow, 0 0 13px yellow;
}

/* SKILLS */
.horizontal-scroll-container-skills {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.skills {
  justify-content: flex-start;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: auto;
  width: 100%;
  width: 1600px;
}

.skill-category {
  margin: 3rem 0rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5), -5px 0 0 0 white, 5px 0 0 0 white,
    0 -5px 0 0 white, 0 5px 0 0 white;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1px);
  min-width: 480px;
  color: white;
  font-size: 2rem;
  text-align: center;
  overflow-x: auto;
  transition: box-shadow 0.4s ease, background 0.4s ease, transform 0.2s ease;
}

.skills::-webkit-scrollbar {
  display: none;
}

.skill-category:hover {
  box-shadow: 0 0 25px rgba(255, 255, 102, 0.8), 0 0 10px #ffff33,
    0 0 20px #ffff33;
  background: rgba(255, 255, 255, 0.15);
  transform: scale(1.02);
}

.category {
  margin: 0.2rem;
}

.skill-label {
  display: flex;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 0 -1px 0 0 white, 0 1px 0 0 white;
  backdrop-filter: blue(5px);
}

.skill_label_name {
  color: var(--text-color);
  font-size: 0.9 rem;
  width: 50%;
  margin: 0.2rem;
}

.skill_label_level {
  margin: 0.7rem;
  background: black;
  height: 0.9rem;
  border-radius: 1px;
  width: 35%;
}

.skill_level_bar {
  background: linear-gradient(90deg, #00ff00 0%, #007700 100%);

  height: 0.9rem;
  border-radius: 1px;
  width: 100%;
}

.skill-category:hover .skill_level_bar {
  background: linear-gradient(90deg, #fff000 0%, #ffcc00 100%);
}

/* ACADEMIC PROJECTYS */

.horizontal-scroll-container-academics {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.academics {
  padding: 7rem;
  width: 1000px;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  width: 100%;
}

.academics::-webkit-scrollbar {
  display: none;
}

.academic-project {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5), -5px 0 0 0 white, 5px 0 0 0 white,
    0 -5px 0 0 white, 0 5px 0 0 white;
  animation: buttonflicker 2s infinite;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  overflow: hidden;
  min-width: 220px;
  transition: box-shadow 0.4s ease, background 0.4s ease, transform 0.2s ease;
  padding: 0.5rem;
}

.academic-project:hover {
  box-shadow: 0 0 25px rgba(255, 255, 102, 0.8), 0 0 10px #ffff33,
    0 0 20px #ffff33;
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.academic-project-image {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), -2px 0 0 0 white, 2px 0 0 0 white,
    0 -2px 0 0 white, 0 2px 0 0 white;
  width: 90%;
  height: 6rem;
  object-fit: fill;
  display: block;
  margin: 0.7rem auto 0 auto;
}

.academic-project-details {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.academic-project a {
  text-decoration: none;
  color: inherit;
}

.academic-project-title {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

.academic-project-module {
  color: var(--primary-color);
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
}

.academic-project-description {
  color: var(--text-color);
  font-size: 1.1rem;
  margin: 0 auto 0.7rem auto;
}

/* PERSONAL PROJECTS */
.personal-project-link-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.personal {
  padding: 5rem;
  width: 1000px;
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  overflow-x: auto;
  width: 100%;
  gap: 2rem;
}

.personal::-webkit-scrollbar {
  display: none;
}
.personal-project {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5), -5px 0 0 0 white, 5px 0 0 0 white,
    0 -5px 0 0 white, 0 5px 0 0 white;
  animation: buttonflicker 2s infinite;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  overflow: hidden;
  min-width: 220px;
  max-width: 250px;
  transition: box-shadow 0.4s ease, background 0.4s ease, transform 0.2s ease;
  padding: 0.5rem;
}

.personal-project:hover {
  box-shadow: 0 0 25px rgba(255, 255, 102, 0.8), 0 0 10px #ffff33,
    0 0 20px #ffff33;
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.personal-project a {
  text-decoration: none;
  color: inherit;
}

.personal-project-title {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

.personal-project-description {
  color: var(--text-color);
  font-size: 1.5rem;
  margin: 0 auto 0.7rem auto;
}

.personal-project-link {
  opacity: 0;
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    opacity: 1;
    text-shadow: 0 0 1px #ffff00, 0 0 1px #ffea00, 0 0 1px #ffe100;
  }
  20%,
  24%,
  55% {
    opacity: 0.3;
    text-shadow: none;
  }
}

@keyframes buttonflicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    box-shadow: 0 0 25px rgba(255, 255, 102, 0.8), 0 0 10px #ffff33,
      0 0 20px #ffff33, inset 0 0 0 5px white;
  }
  20%,
  24%,
  55% {
    box-shadow: 0 0 10px rgba(255, 255, 102, 0.8), 0 0 5px #ffff33,
      0 0 5px #ffff33, inset 0 0 0 5px white;
  }
}

/* CONTACT SECTION */

.contact {
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5), -5px 0 0 0 white, 5px 0 0 0 white,
    0 -5px 0 0 white, 0 5px 0 0 white;
  backdrop-filter: blur(8px);
  max-width: 450px;
}

.contact__name {
  color: var(--text-color);
  font-weight: bold;
  font-size: 5rem;
  margin: 0;
}

.contact__address {
  color: var(--text-color);
  font-size: 1.5rem;
  margin: 0;
}
.contact__socials {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.contact__socials__icon {
  height: 50px;
  width: 50px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5), -5px 0 0 0 white, 5px 0 0 0 white,
    0 -5px 0 0 white, 0 5px 0 0 white;
  background: rgba(249, 249, 249, 0.5);
  backdrop-filter: blur(10px);
  animation: buttonflicker 1s infinite;
  overflow: hidden;
  transition: box-shadow 0.4s ease, background 0.4s ease, transform 0.2s ease;
}

.contact__socials__icon:hover {
  box-shadow: 0 0 25px rgba(255, 255, 102, 0.8), 0 0 10px #ffff33,
    0 0 20px #ffff33;
  transform: scale(1.1);
  cursor: pointer;
}

/* Menu */
.menu {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  align-items: center;
  padding: 0.3rem;
  position: fixed;
  top: 0.2rem;
  left: 4rem;
  right: 4rem;
  letter-spacing: 1.2px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(7px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), -2px 0 0 0 white, 2px 0 0 0 white,
    0 -2px 0 0 white, 0 2px 0 0 white;
}

.menu__logo {
  font-family: "Courier New", monospace;
  font-weight: bold;
  font-size: 1rem;
  color: #333;
  letter-spacing: 10px;
}

.menu__buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.menu__button {
  font-weight: bold;
  color: black;
  animation: flicker 2s infinite;
  text-decoration: none;
}

.menu__button:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.contact {
  width: 100%;
}

/* RESPONSIVE */

@media (max-width: 990px) {
  .mobile--section--top {
    align-items: flex-start;
  }

  .mobile--section--bottom {
    align-items: flex-end;
    min-height: 100vh;
    padding-top: 0px;
  }

  .mobile--section--bottom--home {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 30px;
  }

  .mobile--section--right {
    justify-content: flex-end;
  }

  .mobile--section--left {
    justify-content: flex-start;
  }

  .home {
    padding: 2.5rem;
    scale: 0.7;
  }

  .home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .scroll-down {
    margin-top: 400px;
    scale: 0.7;
  }

  .skills {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    width: 100%;
    justify-content: flex-start;
  }

  .skill {
    scale: 0.6;
  }

  .skill-category {
    min-width: 300px;
  }

  .academics {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    width: 100%;
    padding: 0rem;
  }

  .academic-project {
    min-width: 220px;
    scale: 0.8;
  }

  .personal {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    width: 100%;
    padding: 0rem;
  }

  .personal-project {
    min-width: 220px;
    scale: 0.8;
  }

  .contact {
    scale: 0.7;
    width: 100%;
  }

  .menu {
    flex-direction: column;
    gap: 0rem;
    font-size: 0.8rem;
    left: 0.3rem;
    right: 0.3rem;
    top: 0.2rem;
    letter-spacing: 0.2rem;
  }
}

/* based on my iphone 14 pro */
@media (max-width: 450px) {
  .mobile--section--top {
    align-items: flex-start;
  }

  .mobile--section--bottom {
    align-items: flex-end;
    min-height: 100vh;
    padding-bottom: 0px;
  }

  .mobile--section--bottom--home {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 30px;
  }

  .mobile--section--bottom--contact {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 30px;
  }

  .mobile--section--right {
    justify-content: flex-end;
  }

  .mobile--section--left {
    justify-content: flex-start;
  }

  .home {
    padding: 3rem;
    scale: 0.5;
    min-width: 450px;
    /* margin-top: 150px; */
  }

  .home-text {
    /* margin-top: 300px; */
    min-width: 350px;
  }

  .home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .scroll-down {
    margin-top: 1rem;
    scale: 0.6;
  }

  .skills {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    width: 100%;
    justify-content: flex-start;
    transform: translateY(-80px);
  }

  .skill {
    scale: 0.6;
  }

  .skill-category {
    min-width: 300px;
  }

  .academics {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    width: 100%;
    padding: 0rem;
    transform: translateY(-85px);
  }

  .academic-project {
    min-width: 220px;
    scale: 0.8;
  }

  .personal {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    width: 100%;
    padding: 0rem;
    transform: translateY(-90px);
  }

  .personal-project {
    min-width: 220px;
    scale: 0.8;
  }

  .contact {
    scale: 0.7;
    width: 100%;
  }

  .contact__name {
    font-size: 4rem;
  }

  .comment-form {
    gap: 0.2rem;
  }

  .comment-marquee {
    scale: 0.7;
    margin-top: 0.1rem;
  }

  .menu {
    flex-direction: column;
    gap: 0rem;
    font-size: 0.6rem;
    left: 0.2rem;
    right: 0.2rem;
    top: 0.2rem;
    letter-spacing: 0.3px;
    line-height: 0.3;
  }
}

/* overlay button */
.project-tap-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: black;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: -5px 0 0 0 white, 5px 0 0 0 white, 0 -5px 0 0 white,
    0 5px 0 0 white;
  backdrop-filter: blur(4px);
  border-radius: inherit;
  /* z-index: 1; */
  animation: overlayFlicker 0.3s infinite alternate;
  text-shadow: 0 0 5px yellow, 0 0 5px yellow, 0 0 5px yellow;
}

@keyframes overlayFlicker {
  0% {
    opacity: 0.9;
    transform: scale(1);
    filter: contrast(100%) brightness(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1.2);
    filter: contrast(150%) brightness(1.5);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
}

.overlay-content {
  background: white;
  padding: 2rem 3rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px black;
  font-size: 1.2rem;
  text-align: center;
}
