@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

:root {
  --text-color: #ffffff;
  --background-color: #000000;
  --primary-color: #ff5722;
  --secondary-color: #03a9f4;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: "VT323", monospace;
}

.interface {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sections {
  max-width: 1200px;
  width: 100%;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section--top {
  align-items: flex-start;
}

.section--bottom {
  align-items: flex-end;
}

.section--right {
  justify-content: flex-end;
}

.section--left {
  justify-content: flex-start;
}

/* HOME SECTION */
.home {
  padding: 2rem;
}

.home-info-line {
  font-size: 2.5rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5), -5px 0 0 0 white, 5px 0 0 0 white,
    0 -5px 0 0 white, 0 5px 0 0 white;
  margin: 1.5rem 0;
  color: white;
  background: rgba(249, 249, 249, 0.1);
  backdrop-filter: blur(3px);
  transition: box-shadow 0.4s ease, background 0.4s ease, transform 0.2s ease;
}

.home-info-line:hover {
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.8), 0 0 -10px #ff00c8,
    0 0 -20px #ff00c8;
  color: yellow;
  background: rgba(255, 255, 255, 0.15);
  transform: scale(1.15);
}
/* Scroll Indicator*/

.scroll-down {
  width: 35px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  border: 2px solid var(--text-color);
  border-radius: 14px;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  box-shadow: 0 0 12px #ffff33, 0 0 22px #ffff33;
}

.scroll-down__wheel {
  background-color: var(--text-color);
  width: 3px;
  height: 10px;
  border-radius: 2px;
  margin-top: 4px;
  box-shadow: 0 0 8px yellow, 0 0 13px yellow;
}

/* SKILLS */

.skills {
  padding: 1rem;
  flex-direction: column;
}

.skill-category {
  margin: 1.5rem 0;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5), -5px 0 0 0 white, 5px 0 0 0 white,
    0 -5px 0 0 white, 0 5px 0 0 white;
  background: rgba(249, 249, 249, 0.1);
  backdrop-filter: blur(1px);
  color: white;
  max-width: 100%;
  font-size: 2rem;
  text-align: center;
  transition: box-shadow 0.4s ease, background 0.4s ease, transform 0.2s ease;
}

.skill-category:hover {
  box-shadow: 0 0 25px rgba(255, 255, 102, 0.8), 0 0 10px #ffff33,
    0 0 20px #ffff33;
  background: rgba(255, 255, 255, 0.15);
  transform: scale(1.02);
}

.category {
  margin: 0.2rem;
}

.skill-label {
  display: flex;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 0 -1px 0 0 white, 0 1px 0 0 white;
  backdrop-filter: blue(5px);
}

.skill_label_name {
  color: var(--text-color);
  font-size: 0.9 rem;
  width: 50%;
  margin: 0.2rem;
}

.skill_label_level {
  margin: 0.7rem;
  background: black;
  height: 0.9rem;
  border-radius: 1px;
  width: 35%;
}

.skill_level_bar {
  background: linear-gradient(90deg, #00ff00 0%, #007700 100%);

  height: 0.9rem;
  border-radius: 1px;
  width: 100%;
}

.skill-category:hover .skill_level_bar {
  background: linear-gradient(90deg, #fff000 0%, #ffcc00 100%);
}

/* ACADEMIC PROJECTYS */

.academics {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 230px);
  width: 550px;
  max-width: 100%;
  justify-content: center;
  gap: 2rem;
}

.academic-project {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5), -5px 0 0 0 white, 5px 0 0 0 white,
    0 -5px 0 0 white, 0 5px 0 0 white;
  background: rgba(249, 249, 249, 0.1);
  backdrop-filter: blur(1px);
  overflow: hidden;
  transition: box-shadow 0.4s ease, background 0.4s ease, transform 0.2s ease;
}

.academic-project:hover {
  box-shadow: 0 0 25px rgba(255, 255, 102, 0.8), 0 0 10px #ffff33,
    0 0 20px #ffff33;
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.academic-project-image {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), -2px 0 0 0 white, 2px 0 0 0 white,
    0 -2px 0 0 white, 0 2px 0 0 white;
  width: 90%;
  height: 6rem;
  object-fit: fill;
  display: block;
  margin: 0.7rem auto 0 auto;
}

.academic-project-details {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.academic-project a {
  text-decoration: none;
  color: inherit;
}

.academic-project-title {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

.academic-project-module {
  color: var(--primary-color);
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
}

.academic-project-description {
  color: var(--text-color);
  font-size: 1.1rem;
  margin: 0 auto 0.7rem auto;
}

/* PERSONAL PROJECTS */

.personal {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 380px);
  width: 550px;
  max-width: 100%;
  justify-content: center;
  gap: 2rem;
}

.personal-project {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5), -5px 0 0 0 white, 5px 0 0 0 white,
    0 -5px 0 0 white, 0 5px 0 0 white;
  background: rgba(249, 249, 249, 0.1);
  backdrop-filter: blur(1px);
  overflow: hidden;
  transition: box-shadow 0.4s ease, background 0.4s ease, transform 0.2s ease;
}

.personal-project:hover {
  box-shadow: 0 0 25px rgba(255, 255, 102, 0.8), 0 0 10px #ffff33,
    0 0 20px #ffff33;
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.personal-project a {
  text-decoration: none;
  color: inherit;
}

.personal-project-title {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

.personal-project-description {
  color: var(--text-color);
  font-size: 1.5rem;
  margin: 0 auto 0.7rem auto;
}

.personal-project-link {
  color: #ffff00; /* neon yellow */
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 0 5px #ffff00, 0 0 10px #ffea00, 0 0 20px #ffe100;
  animation: flicker 2s infinite;
  font-size: 1.5rem;
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    opacity: 1;
    text-shadow: 0 0 5px #ffff00, 0 0 10px #ffea00, 0 0 20px #ffe100;
  }
  20%,
  24%,
  55% {
    opacity: 0.3;
    text-shadow: none;
  }
}
